<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kurrant.task.dao.ArticleMapper">
    <select id="getArticleList" resultType="kurrant.task.dto.Article">
        SELECT * FROM cms__article;
    </select>
</mapper>